/*﻿*/
#pragma code_page(65001)
#include <windows.h>
#include <commctrl.rh>

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL
// 画像など言語に関係ないリソース
// IDI_MAIN ICON "main.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 1,0,0,0
	PRODUCTVERSION 1,0,0,0
#if defined(UNICODE)
	FILEOS VOS_NT_WINDOWS32 // see Winnt.h
#else
	FILEOS VOS_DOS_WINDOWS32
#endif
	FILETYPE VFT_DLL // see winver.h
#if defined(_DEBUG)
	FILEFLAGS VS_FF_PRERELEASE | VS_FF_DEBUG // see winver.h
#else
	FILEFLAGS VS_FF_PRERELEASE
#endif
{
	BLOCK "StringFileInfo"
	{
		BLOCK "041104B0"
		{
			VALUE "CompanyName","alice"
			VALUE "FileDescription","NFC™ 資格情報プロバイダー"
			VALUE "FileVersion","1.0"
			VALUE "LegalCopyright","© 2017 alice"
			VALUE "OriginalFilename","nfccp.dll"
			VALUE "InternalName","shigure"
			// Windows 7のプロパティでは必須らしい項目
			VALUE "ProductName","NFC™ Credential Provider"
			VALUE "ProductVersion","1.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation",1041,1200
	}
}
